<h1>All Tasks</h1>

<ul>
<% @tasks.each do |task| %>
<div>
  <li><%= link_to task.name, task_path(task.id) %></li>
</div>
<% end %>
</ul>

<div>
  <%= link_to "Add a new Task", new_task_path %>
</div>
