<h1>Edit Profile</h1>

<%= render 'form' %>
<% if (current_user === @user && logged_in?) || current_user.admin? %>
<br><%= form_tag user_path(@user), method: "delete" do %>
  <%= submit_tag "Delete User" %>
<% end %></br>
<% end %>
