<h1>Here are all Current Users</h1>

<ul>
<% @users.each do |user| %>
<div>
  <li><%= link_to user.name, user_path(user.id) %></li>
</div>
<% end %>
</ul>

<%= link_to "View Admin Users", users_admin_url %>
